<div>
  <app-barra-navegacion></app-barra-navegacion>
  <br />

  <main class="page registration-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Registration</h2>
          <p></p>
        </div>
        <form>
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control item" type="text" id="name">
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control item" type="password" id="password">
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control item" type="email" id="email">
          </div>

          <div class="mb-3">
            <label class="form-label" for="typeuser">¿Que deseas representar?</label>
            <div class="card-group text-center">
              <div class="card">
                <div class="card-body">
                  <div class="card-text">Editorial</div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="card-text">Editorial</div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
